{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules": ["include", "mixin"]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
        ignore: ["after-comment", "first-nested", "inside-block", "blockless-after-same-name-blockless", "blockless-after-blockless"]
      ],
    "color-hex-length": "long"
  }
}
