.button {
  position: relative;
  display: inline-block;
  padding: 14px 0;
  padding-right: 40px;
  padding-left: 64px;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  background-color: $accent-color;
  border: none;
  border-radius: 8px;
  transition: 300ms;

  @include font(14px, 700, 16px);

  &::before {
    position: absolute;
    top: 10px;
    left: 13%;
    width: 24px;
    height: 24px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &:hover,
  &:focus {
    background-color: $accent-tint--hover;
  }

  &:active {
    background-color: $accent-tint--active;
  }
}
