.catalog-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 0;
  margin: 0 -15px;
  list-style: none;

  @include font(16px, 500, 24px);
}

.catalog-nav__item {
  padding: 0 15px;
}

.catalog-nav__link {
  display: block;
  padding: 3px 0;
  color: $accent-tint--text;
  text-decoration: none;
  transition: all 150ms;

  &:hover,
  &:focus {
    color: $accent-tint--hover;
  }

  &:active {
    color: $accent-tint--active;
  }
}
