.control {
  display: flex;
}

.control__toggle {
  position: relative;
  width: 80px;
  height: 64px;
  padding: 0;
  margin-left: 24px;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &--current {
    cursor: default;
    background-image:
      linear-gradient(
        135deg,
        rgba($gradient-color--circle-1, 0.2) 0%,
        rgba($gradient-color--circle-2, 0.2) 100%
      );
    box-shadow:
      0 0 0 4px rgba(255, 255, 255, 1) inset,
      0 2px 4px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: $mobile) {
    &:first-child {
      margin-left: 0;
    }
  }
}

.control__toggle--smartphone {
  &::before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 65px;
    height: 65px;
    content: "";
    background: url("../img/bg/banner-thumbnail/smartphone-main-thumbnail.png") center center no-repeat;
    background-size: 17px auto;
    transition: 300ms;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg/banner-thumbnail/smartphone-main-thumbnail@2x.png") center center no-repeat;
      background-size: 17px auto;
    }
  }

  &:hover::before {
    top: -10px;
  }
}

.control__toggle--robot {
  &::before {
    position: absolute;
    top: 0;
    left: 9px;
    width: 65px;
    height: 65px;
    content: "";
    background: url("../img/bg/banner-thumbnail/robot-main-thumbnail.png") center center no-repeat;
    background-size: 46px auto;
    transition: 300ms;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg/banner-thumbnail/robot-main-thumbnail@2x.png") center center no-repeat;
      background-size: 46px auto;
    }
  }

  &:hover::before {
    top: -10px;
  }
}

.control__toggle--laptop {
  &::before {
    position: absolute;
    top: 0;
    left: 4px;
    width: 65px;
    height: 65px;
    content: "";
    background: url("../img/bg/banner-thumbnail/laptop-main-thumbnail.png") center center no-repeat;
    background-size: 50px auto;
    transition: 300ms;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg/banner-thumbnail/laptop-main-thumbnail@2x.png") center center no-repeat;
      background-size: 50px auto;
    }
  }

  &:hover::before {
    top: -10px;
  }
}
