.footer-nav {
  column-count: 2;
  column-gap: 90px;
  padding: 0;
  margin: 0;
  color: rgba(#000000, 0.7);
  vertical-align: top;
  list-style: none;
}

.footer-nav__item {
  padding-top: 10px;
}

.footer-nav__link {
  display: block;
  padding-top: 5px;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(#000000, 1);
  }
}
