.footer-nav {
  column-count: 2;
  column-gap: 90px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  list-style: none;

  @media (max-width: $tablet) {
    column-count: 1;

    @include font(14px, 300, 16px);
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.footer-nav__item {
  padding-top: 10px;

  @media (max-width: $tablet) {
    padding-top: 5px;
  }
}

.footer-nav__link {
  display: block;
  padding-top: 5px;
  color: rgba(#000000, 0.6);
  text-decoration: none;
  transition: 150ms;

  &:hover,
  &:focus {
    color: rgba(#000000, 1);
  }

  &:active {
    color: rgba(#000000, 0.4);
  }
}
