.logo {
  display: flex;
  align-items: center;
  width: 313px;
  height: 59px;
}

.logo__icon {
  width: 53px;
  height: 59px;
}

.logo__text {
  width: 242px;
  height: 26px;
  margin-left: auto;
}
