.main-content {
  padding-top: 20px;
}

.main-content__notice {
  margin-left: 160px;
}

.main-content__popular-products {
  margin-top: 95px;
  margin-bottom: 120px;
}

.main-content__watchword {
  margin-bottom: 90px;
}

.main-content__services {
  margin-bottom: 80px;
}

.main-content__map {
  margin-bottom: -4px;
}
