// .map {}

.map__title {
  margin-bottom: 20px;
}

.map__inner {
  position: relative;
}

.map__item {
  display: none;

  &--show {
    display: block;
  }
}

.map__address {
  position: absolute;
  top: 20px;
  left: 70px;

  @media (max-width: $mobile) {
    position: static;
  }
}
