.menu {
  display: flex;
  flex-grow: 1;

  @include font(18px, 500, 24px);
}

.menu__site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  padding: 0;
  margin: 0 -15px;
  list-style: none;
}

.menu__item {
  padding: 0 15px;
}

.menu__link {
  display: block;
  padding: 20px 0;
  color: rgba(#000000, 0.7);
  text-decoration: none;
  transition: 100ms;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.4);
  }

  &:active {
    color: rgba(#000000, 0.2);
  }
}

.menu_phone-link {
  display: none;
}

.menu__user-nav {
  // данное позиционирвоание переопределяется в блоке, так как стоит ниже в каскаде
  // см. блок user-nav.scss
  margin-left: auto;
}
