.notice {
  position: relative;
  width: 644px;
  height: 128px;
  padding-right: 20px;
  padding-left: 50px;
  margin-top: -64px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.08);

  @media (max-width: $tablet) {
    position: static;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 10px 1px $accent-tint--hover;
  }

  @media (max-width: $mobile) {
    width: 100%;
    max-width: 430px;
    height: auto;
    padding: 10px 20px 20px 20px;
  }
}

.notice__tradein {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }
}

.notice__title-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 200ms;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: $mobile) {
    justify-content: center;
  }
}

.notice__title {
  position: relative;
  width: 165px;
  margin: 0;
  margin-right: 25px;
  color: rgba(#000000, 0.7);

  @include font(18px, 400, 30px);
}

.notice__icon {
  opacity: 0.6;

  .notice__title-link:hover &,
  .notice__title-link:focus & {
    fill: $accent-color;
    animation: shake-arrow 600ms ease 100ms;
  }
}

@keyframes shake-arrow {
  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  60% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(3px);
  }
}

.notice__slogan-link {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (max-width: $mobile) {
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px;
  }
}

.notice__slogan {
  position: relative;
  color: rgba(#000000, 0.8);
  text-align: center;
  transition: 300ms;

  @include font(18px, 400, 30px);

  .notice__slogan-link:hover & {
    color: rgba(#000000, 0.5);
  }
}

.notice__accent {
  color: $accent-tint--text;
  text-transform: uppercase;
  transition: 300ms;

  @include font(26px, 700, 35px);

  .notice__slogan-link:hover & {
    color: $accent-tint--hover;
  }

  .notice__slogan-link:active & {
    color: $accent-tint--active;
  }
}

.notice__img {
  margin-top: 5px;
  margin-left: 35px;

  @media (max-width: $mobile) {
    width: 100px;
    height: auto;
  }
}
