// .page-header {}

// Top =============================

.page-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 35px;
  padding-top: 39px;

  // @include outline(12px, yellow);

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  @media (max-width: $mobile) {
    // background-color: rgba(#000000, 0.05);
  }
}

.page-header__top-wrap {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.page-header__logo {
  margin-right: 227px;

  @media (max-width: $tablet) {
    margin: 0;
  }
}

.page-header__burger {
  display: none;
}

// Bottom ========================

.page-header__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  // @include outline(12px, orange);

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  @media (max-width: $mobile) {
    padding-top: 0;
    padding-bottom: 0;
    // background-color: rgba(#000000, 0.05);
  }
}

.page-header__search {
  align-self: center;
  margin-left: 4px;

  @media (max-width: $tablet) {
    width: 100%;
    margin: 0;
  }

  @media (max-width: $tablet) {
    order: 2;
  }
}
