.page {
  position: relative;
  height: 100%;
}

.page__body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}

.page__header {
  position: relative;
  z-index: 5;
  flex-shrink: 0;
  background: transparent;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

.page__popup {
  position: fixed;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);

  &--login {
    top: 150px;
  }

  &--callback {
    bottom: 150px;
  }
}
