.page-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(#000000, 0.02);

  @include font(16px, 300, 20px);
}

.page-footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}

.page-footer__logo {
  margin-top: 30px;
}

.page-footer__phone-block {
  display: flex;
  flex-direction: column;
}

.page-footer__button--callback {
  margin-top: 10px;

  &::before {
    background-image: url("../img/common/callback.svg");
    transition: 300ms;
  }

  &:hover::before {
    transform: rotate(45deg);
  }
}

.page-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__privacy {
  margin: 0 -10px;
}

.page-footer__privacy a {
  margin: 0 10px;
  color: rgba(#000000, 0.5);
  text-decoration: none;
  transition: 150ms;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.8);
  }

  &:active {
    color: rgba(#000000, 0.4);
  }
}
