.phone-list {
  padding-top: 13px;
  margin: 0;
  color: rgba(#000000, 0.7);
}

.phone-list__item {
  margin-bottom: 20px;
}

.phone-list__number {
  color: rgba(#000000, 0.6);
  text-decoration: none;
  transition: 150ms;

  @include font (28px, 500, 32px);

  &:hover,
  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}

.phone-list__description {
  padding-top: 4px;
  margin: 0;
}
