// .popular-products {
// }

.popular-products__title {
  margin-bottom: 32px;

  @media (max-width: $mobile) {
    margin-top: 50px;
    text-align: center;
  }
}

.popular-products__inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.popular-products__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin: 0 -12px;
  list-style: none;
}

.popular-products__item {
  margin: 0 12px;
}

.popular-products__to-catalog {
  display: flex;
  align-items: center;
  align-self: flex-end;
  color: rgba(#000000, 0.7);
  text-decoration: none;
  transition: 300ms;

  @include font(16px, 500, 20px);

  &:hover {
    color: $accent-color;
  }

  @media (max-width: $mobile) {
    margin: 0 auto;
  }
}

.popular-products__arrow-icon {
  width: 20px;
  height: auto;
  margin-left: 10px;
  fill: rgba(#000000, 0.7);

  .popular-products__to-catalog:hover &,
  .popular-products__to-catalog:focus & {
    fill: $accent-color;
    animation: shake-arrow-catalog 600ms ease 100ms;
  }
}

@keyframes shake-arrow-catalog {
  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  60% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(3px);
  }
}
