.search-form {
  position: relative;
  display: flex;

  &::before {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 24px;
    height: 24px;
    content: "";
    background: url("../img/bg/search.svg") 0 0 no-repeat;
    opacity: 0.6;

    @media (max-width: $mobile) {
      top: 8px;
      width: 18px;
      height: 18px;
      background-size: 18px 18px;
    }
  }
}

.search-form__input {
  width: 290px;
  padding: 10px;
  padding-left: 50px;
  background-color: transparent;
  border: none;

  @include font(18px, 300, 22px);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    transition: 200ms;
  }

  &:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus::placeholder {
    color: rgba(0, 0, 0, 1);
  }

  @media (max-width: $tablet) {
    width: 100%;
  }

  @media (max-width: $mobile) {
    // max-width: 400px;
    padding-left: 37px;

    @include font(14px, 300, 16px);
  }
}

.search-form__go {
  position: relative;
  display: none;
  width: 30px;
  background-color: transparent;
  border: none;

  @media (max-width: $mobile) {
    display: block;
    width: auto;
    padding: 0;
    text-align: right;
    opacity: 0.3;
    transition: 300ms;
  }
}

.search-form__icon {
  width: 12px;
  height: 20px;
  stroke: rgba(#000000, 0.7);
  transition: 200ms;

  &:hover,
  &:focus {
    stroke: $accent-color;
  }

  &:active {
    opacity: 0.5;
  }
}

// Показывает кнопку при фокусе в поле ввода

.search-form__input:focus + .search-form__go {
  display: block;
  opacity: 1;
}
