.socials {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.socials_item {
  padding: 0 6px;
}

.socials_icon {
  stroke: $accent-color;
}

.socials_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  transition: all 300ms;

  &:hover,
  &:focus {
    background: $accent-color;
  }

  &:hover .socials_icon,
  &:focus .socials_icon {
    stroke: #ffffff;
    stroke-width: 1.5px;
  }

  &:active {
    background: $accent-tint--active;
  }
}
