.user-nav {
  align-items: center;
  justify-content: space-between;
  width: 136px;
  padding: 0;
  margin: 0;
  list-style: none;

  &--opened-on-mobile {
    @media (max-width: $mobile) {
      position: absolute;
      top: 0;
      right: -1px;
      width: 90px;

      .user-nav__item {
        width: 20px;
        height: 20px;
      }
    }
  }

  &--nojs {
    @media (max-width: $mobile) {
      margin: 0 auto;
    }
  }

}

.user-nav__item {
  width: 21px;
  height: 21px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

.user-nav__icon {
  position: relative;
  width: 100%;
  height: 100%;
  stroke: rgba(#000000, 0.7);
  transition: 150ms;

  &:hover,
  &:focus {
    stroke: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}
