.watchword {
  color: rgba(#000000, 0.7);
}

.watchword__inner {
  position: relative;
  text-align: center;
}

.watchword__icon {
  position: absolute;
  top: -42px;
  left: 465px;
  z-index: -1;
}

.watchword__title {
  margin: 0;
  margin-bottom: 15px;

  @include font(26px, 700, 32px);
}

.watchword__subtitle {
  margin: 0;
  margin-bottom: 20px;

  @include font(20px, 400, 22px);
}

.watchword__link {
  position: relative;
  padding: 10px 0;
  color: rgba(#000000, 0.6);
  text-decoration: none;
  transition: 200ms;

  @include font(16px, 300, 24px);

  &::before {
    position: absolute;
    right: -22px;
    bottom: -6px;
    z-index: -1;
    width: 34px;
    height: 34px;
    content: "";
    background: url("../img/common/mouse-click.svg") top center no-repeat;
    opacity: 0.2;
    transition: 400ms;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0;
  }

  &:active {
    color: $accent-tint--active;
  }
}
