.watchword {
  color: rgba(#000000, 0.7);
}

.watchword__inner {
  display: block;
  color: rgba(#000000, 0.7);
  text-align: center;
  text-decoration: none;
}

.watchword__title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;

  @include font(26px, 700, 32px);

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    @include font(20px, 700, 24px);
  }
}

.watchword__icon-mind {
  position: absolute;
  top: -43px;
  left: -50px;
  z-index: -1;
  fill: #407093;
  transition: 1s ease;

  .watchword__inner:hover & {
    fill: $accent-tint--hover;
  }

  @media (max-width: $mobile) {
    top: -56px;
    left: -30px;
  }
}

.watchword__subtitle {
  margin: 0;
  margin-bottom: 20px;

  @include font(20px, 400, 22px);

  @media (max-width: $mobile) {
    margin-bottom: 5px;
    @include font(16px, 400, 20px);
  }
}

.watchword__link {
  position: relative;
  display: inline-block;
  padding: 12px 20px 13px;
  margin: 0;
  color: rgba(#000000, 0.6);
  text-decoration: none;
  border-radius: 10px;
  transition: 600ms;

  @include font(16px, 300, 24px);

  &:hover,
  &:focus {
    box-shadow: 0 0 10px 1px $accent-tint--active;
  }

  &:active {
    box-shadow: 0 0 30px 1px $accent-tint--active;
  }

  @media (max-width: $mobile) {
    @include font(14px, 300, 18px);
  }
}

.watchword__icon-mouse {
  position: absolute;
  right: -3px;
  bottom: -3px;
  fill: rgba(#000000, 0.2);
  transition: 600ms;

  .watchword__link:hover &,
  .watchword__link:focus & {
    opacity: 0;
  }
}
