// .checkbox {}

.checkbox__input {
  //visually-hidden
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  word-wrap: normal;
  white-space: nowrap;
  border: 0;
}

.checkbox__label {
  position: relative;
  padding-left: 25px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    content: "";
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .checkbox__input:checked + &::before {
    background: url(../img/bg/check.svg) no-repeat center center;
    background-size: 110% 110%;
  }

  @media (max-width: $mobile) {
    @include font(14px, 300, 14px);

    &::before {
      top: -1px;
      width: 15px;
      height: 15px;
    }
  }
}
