// Colors

// Accent

$accent-color: #da498c;
$accent-tint--text: rgba($accent-color, 0.6);
$accent-tint--hover: rgba($accent-color, 0.85);
$accent-tint--active: rgba($accent-color, 0.3);

// Gradient

$gradient-color--circle-1: #ff99aa;
$gradient-color--circle-2: #b2abed;

// Viewports

$tablet: 1439px;
$mobile: 767px;
$mobile-mini: 398px;

@mixin outline($line-width, $color) {
  outline: $line-width solid rgba($color, 0.4);
  outline-offset: -$line-width;
}

// SCRIPTS:

// Banner-item
// banner__item -> banner__item--current
