// Colors

// Accent

$accent-color: #da498c;
$accent-tint--text: rgba(#da498c, 0.6);
$accent-tint--hover: rgba(#da498c, 0.85);
$accent-tint--active: rgba(#da498c, 0.3);

// Gradient

$gradient-color--circle-1: #ff99aa;
$gradient-color--circle-2: #b2abed;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
