// Colors

// New

$main-text-color: rgba(#000000, 0.7); // menu,
$cataloglink-color: #da498c; // catalog-nav
$button-color: #d90429; // catalog-nav

$circle1-gradient-color: #ff99aa;
$circle2-gradient-color: #b2abed;
$bg1-gradient-color: rgba(#000000, 0.01);
$bg2-gradient-color: rgba(#000000, 0.06);

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
